---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>About Me</h1>
    <h2>... and this Astro site!</h2>
    <p>
      I am working through Astro's introductory tutorial. This is the about
      page.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quia nemo
      itaque fugiat odit. Explicabo, quae provident corrupti, ad, quibusdam aut
      cumque modi enim repudiandae blanditiis nemo! Excepturi, et architecto
      cumque repellendus, non accusantium obcaecati nisi doloremque rem, officia
      suscipit asperiores ipsa aut voluptatibus aspernatur debitis blanditiis?
      Provident, tempore aliquid?
    </p>
  </body>
</html>
