---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md')
const pageTitle = "Posts";
---
<BaseLayout pageTitle={pageTitle}>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus id, quae
      blanditiis eum asperiores quas unde adipisci cum nobis eveniet.
    </p>
    <ul>
      {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
</BaseLayout>
