---
const platform = "github";
const username = "tkroo";
import Social from "./Social.astro";
---

<style>
  footer {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 2rem;
  }
  .social-links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
</style>

<footer>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
  </p>
  <div class="social-links">
    <Social platform="mastodon" link="fosstodon.org" username="@tkroo" />
    <Social platform="github" link="github.com" username="tkroo" />
    <Social platform="youtube" link="youtube.com/user/" username="astrodotbuild" />
  </div>
</footer>
