---
const { platform, link, username } = Astro.props;
---

<a href={`https://${link}/${username}`}>{platform}</a>

<style>
  a {
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
    max-height: 3em;
  }
</style>
